extends layout

block content
  h1 Просматривайте проектную документацию онлайн
  h2 Содержание сайта
    p На сайте размещены материалы проектной, изыскательской документации, разработанной компанией "Евростройпроект" для объекта, расположенного по адресу: Ростовская область, г. Батайск, ул. Комарова, 204.
    br
    a(href="/pointcloud") Смотрите облако здесь.
    br
    a(href="/forgeviewermetur") Смотрите проект и модели здесь.
    br
   
